<div class="flex flex-row">
  <div class="h-screen bg-white p-11 pt-8 max-xl:p-7">
    <div class="mb-2">
      <h4 class="mb-32 text-center text-4xl font-bold text-portal-purple-500 whitespace-nowrap max-xl:whitespace-normal max-xl:text-2xl max-xl:p-5">
        Medi Portal 
      </h4>

      <div class="flex flex-col items-center">
        <ng-container *ngFor="let item of navigationItems">
          <div
            class="my-3 flex cursor-pointer items-center w-full justify-center"
            routerLinkActive="active-nav-item"
            [routerLink]="item.route"
            #itemLink="routerLinkActive"
          >
            <img
              [src]="
                itemLink.isActive ? item.activeIconPath : item.inactiveIconPath
              "
              class="max-h-7 max-w-3xl mr-6 max-xl:mr-0"
              alt=""
            />
            <h4 class="text-xl mr-auto text-portal-gray-500 font-normal max-xl:text-base max-xl:hidden">
              {{ item.title }}
            </h4>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="px-4 pt-4">
    <router-outlet></router-outlet>
  </div>
</div>
