<div class="rounded-2xl border border-white bg-white p-4 shadow m-2">
  <h4 class="mb-7 pl-2 text-xl font-bold text-portal-dark">Your Schedule</h4>
  <div class="inline-flex w-full justify-between">
    <img
      (click)="previousMonth()"
      src="../../../assets/svg/previous-triangle.png"
      class="ml-2 max-w-fit cursor-pointer"
      alt=""
    />
    <h4 class="text-center text-lg font-bold text-portal-dark">
      {{ currentMonth }}
    </h4>
    <img
      (click)="nextMonth()"
      src="../../../assets/svg/next-triangle.png"
      class="mr-2 max-w-fit cursor-pointer"
      alt=""
    />
  </div>
  <div
    class="mb-4 grid grid-cols-7 gap-2 pt-4 text-center text-portal-gray-300"
  >
    <div>Sun</div>
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thu</div>
    <div>Fri</div>
    <div>Sat</div>
  </div>
  <hr />
  <div class="mt-2 mb-6 grid grid-cols-7 gap-2">
    <div
      class="flex h-12 w-full items-center justify-center"
      *ngFor="let day of days; let i = index"
      [ngClass]="getColStartClass(i, day)"
    >
      <button (click)="setSelectedDay(day); setAppointmentList(day)">{{ day | date : "d" }}</button>
    </div>
  </div>
  <div class="flex w-full flex-grow justify-center">
    <h6 *ngIf="selectedDayMeetings.length !== 0" class="text-center text-base text-portal-gray-300">
      Appointments on
      {{
        selectedDay
          ? (selectedDay | date : "EEEE, MMMM d")
          : (today | date : "EEEE, MMMM d")
      }}
    </h6>
  </div>
  <ul class="mt-3">
    <li
      *ngFor="let meeting of selectedDayMeetings"
      class="mb-2 list-none rounded-2xl border border-white bg-[#5a80fa1c] py-4 px-5 text-portal-blue"
    >
      <h4>{{ meeting.name }}</h4>
      <p> {{ meeting.appointmentType }}</p>
      <div class="inline-flex w-full justify-between">
        <p class="text-base">
          {{ meeting.startDateTime | date : "shortTime" }} -
          {{ meeting.endDateTime | date : "shortTime" }}
        </p>
        <ul *ngIf="meeting.isConfirmed" class="text-base text-portal-green font-bold"> <li> Confirmed</li>  </ul>
        <p *ngIf="!meeting.isConfirmed" class="text-base text-portal-gray-300 font-bold"> Not Confirmed </p>
      </div>
    </li>
    <p class="text-center text-base text-portal-gray-300" *ngIf="selectedDayMeetings.length === 0"> There are no appointments scheduled</p>
  </ul>
</div>
