/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "DM Sans";
    background-color: #f8f9fd;
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    src: url("../src/assets/fonts/DM_Sans/DMSans-Regular.ttf");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 500;
    src: url("../src/assets/fonts/DM_Sans/DMSans-Bold.ttf");
  }
  p, label {
    @apply text-base
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-base font-bold
  }
}

@layer components {
  
  footer {
    @apply fixed bottom-0 w-full bg-slate-100 py-2 px-4 text-center text-xs;
  }
  // Misc Buttons
  button.btn-round {
    @apply select-none rounded bg-portal-blue py-2 px-4 font-bold text-white hover:bg-portal-blue;
    &:focus {
      @apply outline-1 outline-portal-purple-100;
    }
    &.red {
      @apply rounded bg-portal-red py-2 px-4 font-bold text-white hover:bg-portal-red;
    }
  }

  // To Do List Styles 
  button.btn-dropdown {
    @apply py-1.5 text-base font-medium px-4 rounded-sm bg-portal-dark text-white w-64 text-left inline-flex items-center justify-between;
    &.active {
      @apply text-base font-medium px-4 rounded-sm w-64 text-left inline-flex items-center justify-between text-white bg-portal-blue;
    }
  }

  span.dropdown-label {
    @apply py-1.5 px-2 font-black border border-black rounded-sm border-l-0 ;
  }
  
  span.list-item-primary {
    @apply mb-3 w-36 rounded-sm bg-portal-dark py-1.5 px-4 text-left text-base font-medium text-white;
  }
 
  span.list-item-secondary {
    @apply py-1.5 text-base px-4 rounded-sm bg-white text-portal-dark w-36 text-left mb-3 border border-black border-l-0;
    &.warning {
      @apply bg-portal-purple-100  border-portal-purple-100;
    }
  }
  // Modal Styles 
  .modal-container {
    @apply fixed top-0 left-0 flex h-screen w-screen transform items-center justify-center bg-portal-purple bg-opacity-5 backdrop-blur-sm transition-transform duration-300;

    form {
      @apply transform overflow-hidden rounded-lg px-8 py-6 shadow-lg transition duration-300 ease-in-out w-[50vw] h-fit;
    }
  }

  // Patient Detail Styles
  .pill {
    @apply flex items-center border border-solid px-4 py-2 rounded-lg max-h-7 mx-2;
    &.pill-warning {
      @apply border-portal-purple-100 bg-portal-purple-100 text-portal-dark;
    }
    &.pill-green {
      @apply border-portal-green-300 bg-portal-green-300 text-portal-green;
    }
    &.pill-light {
      @apply border-white bg-white text-portal-blue shadow;
    }
    &.pill-btn {
      @apply cursor-pointer;
    }
  }
  .btn {
   &.nav-btn {
      @apply border border-solid border-white bg-white shadow font-bold py-2 px-6 rounded-lg text-sm;
     
      &.active {
        @apply bg-portal-blue text-white shadow border-portal-blue;
      }
    }
    &.tactic-btn {
      @apply inline-flex items-center rounded-lg border border-solid border-white cursor-pointer;
      &.tactic-btn-sm {
        @apply py-2 px-4 mr-2 shadow;
      }
      &.tactic-btn-lg {
        @apply py-2 pl-2 pr-20 shadow;
      }
    }
  }
  .chart-section {
    @apply mt-4 rounded-2xl border border-white bg-white shadow py-6 px-9 pt-2;
  }

  // Appointements
  .inverted-chart-section {
    @apply flex border-0 border-solid border-portal-gray-50 border-opacity-50 bg-opacity-50 rounded-2xl bg-portal-gray-50;
    .chart-row {
      @apply flex justify-between items-center py-6 px-5 m-2 border border-solid border-white rounded-2xl bg-white;
    }
    .active-view {
      @apply border border-solid border-portal-blue rounded-full bg-portal-blue;
      h4 {
        @apply text-white;
      }
    }
  }

  // Navigation Menu
  .active-nav-item {
    h4 {
      @apply text-portal-purple-500 font-bold;
    }
  }

  // Patient List 
  .patient-list  {
    tr:last-child td:first-child {
      border-top-left-radius: 1rem;
    }
  }
  .ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  @apply bg-portal-blue-300 border border-solid border-portal-blue-300 rounded-md #{!important};
}

// Custom Paginator Styles
.ngx-pagination  {
  li {
    @apply border border-solid border-portal-blue-300 rounded-md #{!important};
    a {
      @apply text-portal-blue-300 #{!important};
    }
  }
  .current:hover {
    @apply bg-portal-blue border border-solid border-portal-blue rounded-md #{!important};
  }
  li.pagination-next, li.pagination-previous, .ngx-pagination a, .ngx-pagination button {
    @apply border-none text-portal-blue-300 #{!important};
  }
  li.ngx-pagination a:hover, .ngx-pagination button:hover {
    @apply bg-[#f8f9fd] #{!important}
  }
  li.pagination-next a {
    @apply text-portal-blue-300 #{!important};
  } 
  li.pagination-next a:hover, li.pagination-previous a:hover {
    @apply bg-[#f8f9fd] text-portal-blue #{!important};
  }
  li.pagination-previous.disabled {
    @apply bg-[#f8f9fd] text-portal-gray-300 #{!important};
  }
}

// Mini Calendar 
  .selected-day {
    @apply border border-solid rounded-full py-2 px-3 bg-portal-blue text-white;
  }


}
