/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "DM Sans";
    background-color: #f8f9fd;
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    src: url("../src/assets/fonts/DM_Sans/DMSans-Regular.ttf");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 500;
    src: url("../src/assets/fonts/DM_Sans/DMSans-Bold.ttf");
  }
  p,
  label {
    @apply text-base;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
}

@layer components {
  footer {
    @apply fixed bottom-0 w-full bg-slate-100 px-4 py-2 text-center text-xs;
  }
  // Misc Buttons
  button.btn-round {
    @apply select-none rounded bg-portal-blue px-4 py-2 font-bold text-white hover:bg-portal-blue;
    &:focus {
      @apply outline-1 outline-portal-purple-100;
    }
    &.red {
      @apply rounded bg-portal-red px-4 py-2 font-bold text-white hover:bg-portal-red;
    }
  }

  // To Do List Styles
  button.btn-dropdown {
    @apply inline-flex w-64 items-center justify-between rounded-sm bg-portal-dark px-4 py-1.5 text-left text-base font-medium text-white;
    &.active {
      @apply inline-flex w-64 items-center justify-between rounded-sm bg-portal-blue px-4 text-left text-base font-medium text-white;
    }
  }

  span.dropdown-label {
    @apply rounded-sm border border-l-0 border-black px-2 py-1.5 font-black;
  }

  span.list-item-primary {
    @apply mb-3 w-36 rounded-sm bg-portal-dark px-4 py-1.5 text-left text-base font-medium text-white;
  }

  span.list-item-secondary {
    @apply mb-3 w-36 rounded-sm border border-l-0 border-black bg-white px-4 py-1.5 text-left text-base text-portal-dark;
    &.warning {
      @apply border-portal-purple-100  bg-portal-purple-100;
    }
  }
  // Modal Styles
  .modal-container {
    @apply fixed left-0 top-0 flex h-screen w-screen transform items-center justify-center bg-portal-purple bg-opacity-5 backdrop-blur-sm transition-transform duration-300;

    form.modal-popup {
      @apply h-fit w-[50vw] transform overflow-hidden rounded-lg px-8 py-6 shadow-lg transition duration-300 ease-in-out;
    }
  }

  // Patient Detail Styles
  .pill {
    @apply mx-2 flex max-h-7 items-center rounded-lg border border-solid px-4 py-2;
    &.pill-warning {
      @apply border-portal-purple-100 bg-portal-purple-100 text-portal-dark;
    }
    &.pill-green {
      @apply border-portal-green-300 bg-portal-green-300 text-portal-green;
    }
    &.pill-light {
      @apply border-white bg-white text-portal-blue shadow;
    }
    &.pill-btn {
      @apply cursor-pointer;
    }
  }
  .btn {
    &.nav-btn {
      @apply rounded-lg border border-solid border-white bg-white px-6 py-2 text-sm font-bold shadow;

      &.active {
        @apply border-portal-blue bg-portal-blue text-white shadow;
      }
    }
    &.tactic-btn {
      @apply inline-flex cursor-pointer items-center rounded-lg border border-solid border-white;
      &.tactic-btn-sm {
        @apply mr-2 px-4 py-2 shadow;
      }
      &.tactic-btn-lg {
        @apply py-2 pl-2 pr-20 shadow;
      }
    }
  }
  .chart-section {
    @apply mt-4 rounded-2xl border border-white bg-white px-9 py-6 pt-2 shadow;
  }

  // Appointements
  .inverted-chart-section {
    @apply flex rounded-2xl border-0 border-solid border-portal-gray-50 border-opacity-50 bg-portal-gray-50 bg-opacity-50;
    .chart-row {
      @apply m-2 flex items-center justify-between rounded-2xl border border-solid border-white bg-white px-5 py-6;
    }
    .active-view {
      @apply rounded-full border border-solid border-portal-blue bg-portal-blue;
      h4 {
        @apply text-white;
      }
    }
  }

  // Navigation Menu
  .active-nav-item {
    h4 {
      @apply font-bold text-portal-purple-500;
    }
  }

  // Patient List
  .patient-list {
    tr:last-child td:first-child {
      border-top-left-radius: 1rem;
    }
  }
  .ngx-pagination {
    padding-left: 0px !important;
  }

  .ngx-pagination .current,
  .btn-info {
    @apply rounded-md border border-solid border-portal-blue-300 bg-portal-blue-300 #{!important};
  }

  // Custom Paginator Styles
  .ngx-pagination {
    li {
      @apply rounded-md border border-solid border-portal-blue-300 #{!important};
      a {
        @apply text-portal-blue-300 #{!important};
      }
    }
    .current:hover {
      @apply rounded-md border border-solid border-portal-blue bg-portal-blue #{!important};
    }
    li.pagination-next,
    li.pagination-previous,
    .ngx-pagination a,
    .ngx-pagination button {
      @apply border-none text-portal-blue-300 #{!important};
    }
    li.ngx-pagination a:hover,
    .ngx-pagination button:hover {
      @apply bg-[#f8f9fd] #{!important};
    }
    li.pagination-next a {
      @apply text-portal-blue-300 #{!important};
    }
    li.pagination-next a:hover,
    li.pagination-previous a:hover {
      @apply bg-[#f8f9fd] text-portal-blue #{!important};
    }
    li.pagination-previous.disabled {
      @apply bg-[#f8f9fd] text-portal-gray-300 #{!important};
    }
  }

  // Mini Calendar
  .selected-day {
    @apply rounded-full border border-solid bg-portal-blue px-3 py-2 text-white;
  }
}
